.col-xs-12
  .container
    .row
      .content-show-wrapper
        .page-header
          %h3= @repo.full_name
        = render 'reviewers/shared/repos/tab', repo: @repo
        .page-header
          %h3 /
        = render 'dirs', resource: @repo, dir_or_files: @dir_or_files, readme: @readme
