.col-xs-12.col-sm-4.p-l-0
  %ul.nav.nav-pills.nav-stacked
    %li
      = link_to t('reviewees.settings.integrations.title'), :reviewees_settings_integrations
    -# @TODO 無料版では使用できない
    -# %li
    -#   = link_to t('reviewees.memberships.index.title'), :reviewees_memberships
    %li
      = link_to t('reviewees.registrations.edit.title'), :edit_reviewee_registration
    %li
      = link_to t('helpers.label.log_out'), :destroy_reviewee_session, method: :delete
