.project-tab-wrapper
  %ul.nav.nav-tabs.nav-justified
    // Repository
    %li{ class: is_same_controller_name?('contents') }
      = link_to reviewers_repo_contents_path(repo), class: 'nav-link' do
        %i.fas.fa-code
        &nbsp;
        = t 'reviewers.pulls.show.code'
    // Issues
    %li{ class: is_same_controller_name?('issues') }
      = link_to reviewers_repo_issues_path(repo), class: 'nav-link' do
        %i.fas.fa-exclamation-circle
        &nbsp;
        = t 'reviewers.pulls.show.issue'
