%ul.list-group.list-group-flush
  %li.list-group-item
    %strong Status
    .pull-status
      .label.label-default= pull.status_i18n
  %hr
  %li.list-group-item
    %strong Private
    .pull-status
      .label.label-default= pull.repo.private
      %small
        このPRは公開されています
        = link_to pull do
          %i.fas.fa-link
