.col-xs-12
  .container
    .page-header
      %h3 Settings
    .setting-integrations-wrapper
      = render 'reviewees/shared/settings/side_nav'
      .col-sm-8.p-r-0
        - if @orgs.blank?
          = t '.blank'
        - else
          %table.table
            %thead
              %tr
                %th.col-sm-2
                %th.col-sm-3
                %th.col-sm-4
                %th.col-sm-1
                %th.col-sm-1
            %tbody
              = render @orgs
