# domain constraint
REVIEWEE_DOMAIN=push-request-v2.test
REVIWER_DOMAIN=reviewer.push-request-v2.test
ADMIN_DOMAIN=admin.push-request-v2.test


# Redis
# for Docker
# REDIS_URL=redis://cache:6379/0
REDIS_URL=redis://localhost:6379/0

RAILS_LOG_TO_STDOUT=true

# domain constraint
WEB_DOMAIN=""

PATH_TO_PEM
