.col-xs-12
  .container
    .page-header{ 'pull-id': @pull.id }
      %h3= @pull.title
    = render 'reviewers/shared/pulls/tab', pull: @pull
    .reviews-form-wrapper
      .reviews-form-card-wrapper
        = render @changed_files
