.reviewee-dashboard-wrapper
  - if current_reviewee.repos.with_deleted.none?
    .card.text-center
      %h4.card-header STEP1 GitHub Appのインストール
      .card-body
        %p.card-text
          あなたのレポジトリをPushRequestに同期するためにGitHub Appをインストールしましょう
          %br
          GitHub Appはレポジトリ単位で管理することが可能です。
          GitHub上で更新された情報を即座にPushRequestに反映します。
        = link_to 'インストール画面へ', ENV['GITHUB_APP_URL'], class: 'btn btn-primary', target: 'blank'

    .card.text-center
      %h4.card-header STEP2 レポジトリの同期
      .card-body
        %p.card-text
          接続したGitHubアカウント上にあるレポジトリ・プルリクエストを同期しましょう。
          %br
          それらはあなた自身で選択することができます。
          同期後も簡単に変更・取消が可能です。
        = link_to '同期画面へ', ENV['GITHUB_APP_PUBLIC_PAGED_URL'], class: 'btn btn-primary', target: 'blank'

    .card.text-center
      %h4.card-header STEP3 プルリクエストの公開
      .card-body
        %p.card-text
          プルリクエストを公開することによって、レビュワーがあなたのコードにコメントすることができるようになります。
          %br
          レビュワーのコメントはGitHub上のプルリクエストに反映されます。
          あなたはコードはより洗練されたコードに修正することができます。
        = link_to '公開画面へ', reviewees_pulls_path, class: 'btn btn-primary'
