%table.table
  %thead
    %tr
      %th= t 'activerecord.models.pull'
      %th= t 'activerecord.models.repo'
  %tbody
    - current_user.pulls.each do |pull|
      %tr
        %td= link_to pull.title, pull.decorate.remote_url, target: 'blank'
        %td= link_to pull.repo_full_name, pull.repo.decorate.remote_url, target: 'blank'
