%table.table
  %thead
    %tr
      %th= t 'activerecord.models.repo'
  %tbody
    - current_user.repos.each do |repo|
      %tr
        %td= link_to repo.full_name, repo.decorate.remote_repo_url, target: 'blank'

= link_to t('.add_repo'), ENV['GITHUB_APP_URL'], target: '_blank'
