%h1 Welcome#index
%p Find me in app/views/welcome/index.html.haml
= link_to '/auth/github', class: 'ui button', data: { confirm: t('.confirm') } do
  %i.github.icon
  = t('activerecord.attributes.user.certification_github')
