%button.btn.btn-outline-primary{ 'data-target': '#importModal', 'data-toggle': 'modal', type: 'button' }
  %i.fas.fa-file-import
  &nbsp;
  wikiのインポート
/ モーダル・ダイアログ
#importModal.modal.fade
  .modal-dialog
    .modal-content
      .modal-body
        = form_with url: import_reviewees_repo_wikis_path(@repo), multipart: true, class: 'form-horizontal' do |f|
          %p.text-center 現在のwikiは全て削除されます。
          .form-group
            = f.label '.wiki.zip', class: 'col-sm-4 control-label'
            .col-xs-12.col-sm-8
              .form-control-static= f.file_field :file, required: true

          .form-group
            .col-sm-4.col-sm-offset-4
              = f.submit 'インポート', data: { confirm: '現在のwikiは全て削除されます。よろしいですか？' }, class: 'btn btn-outline-primary btn-block'
      .modal-footer
        %button.btn.btn-default{ 'data-dismiss': 'modal', type: 'button' } 閉じる
