%tr
  %td.file-name.col-sm-11
    = link_to wiki.title, [:reviewees, repo, wiki]
  %td.col-sm-1.text-right
    %button{ type: 'button',
      class: "btn #{t("wikis.views.buttons.#{wiki.status}")} update-wiki-button",
      'wiki-id': wiki.id,
      'repo-id': repo.id }= t "reviewees.wikis.update.#{wiki.status}"
