.col-xs-12
  .container
    .page-header
      %h3 メンバー
    .setting-integrations-wrapper
      = render 'reviewees/shared/settings/side_nav'
      .col-sm-8.p-r-0
        - if @members.blank?
          = t '.blank'
        - else
          %table.table
            %thead
              %tr
                %th.col-sm-1
                %th.col-sm-5
                %th.col-sm-4
                %th.col-sm-2
            %tbody
              = render @members
        .invite-member-wrapper
          %p メンバーを招待する
          %input.form-control.membership-input{ placeholder: 'メールアドレスかニックネーム', type: 'text' }
          %table.table.table-hover.text-center.hidden.members-table
            %tbody.members-tbody
= javascript_pack_tag 'memberships'
