.setting-integrations-wrapper
  .col-xs-10.col-xs-offset-1
    %hr
    .panel.panel-default
      .panel-body
        .text-center
          %small.text-muted
            = @owner.login
            さんがあなたを招待しています。
        .text-center
          .col-xs-4.col-xs-offset-4
            = link_to reviewees_membership_path(@membership), method: :put, class: 'btn btn-block btn-outline-primary' do
              %i.github.icon
              参加する
