.reviewer-commit-index-wrapper
  .container
    .col-xs-12
      .page-header{ 'pull-id': @pull.id }
        %h3= @pull.title
      = render 'reviewers/shared/pulls/tab', pull: @pull
      .panel.panel-default
        %table.table.table-hover
          %tbody
            - @commits.each do |commit|
              %tr
                %td
                  = link_to commit.message, [:reviewers, @pull, commit]
                %td.text-right
                  = link_to commit.short_sha, [:reviewers, @pull, commit]
