.col-xs-12
  .container
    .row
      .content-show-wrapper
        .page-header
          %h3= @repo.full_name
        = render 'reviewers/shared/repos/tab', repo: @repo
        .panel.panel-default
          .panel-heading
            %b.text-right= l @repo.created_at
          .table-wrapper
            %table.table.table-hover
              %tbody
                = render @issues
