#commentModal.modal.fade
  .modal-dialog
    .modal-content
      .modal-body
        %table.table.table-noborder.comment-list
      .modal-footer
        %button.btn.btn-outline-default.close-comment-btn{ 'data-dismiss': 'modal', type: 'button' } 閉じる
