%button.btn.btn-outline-primary{ 'data-target': '#importModal', 'data-toggle': 'modal', type: 'button' }
  %i.fas.fa-file-import
  &nbsp;
  レビューを完了する
/ モーダル・ダイアログ
#importModal.modal.fade
  .modal-dialog
    .modal-content
      .modal-body
        .review-footer-wrapper
          = f.label :body, for: 'review_body'
          = f.text_area :body, id: 'review_body', class: 'form-control', rows: '3'
          .text-center.m-t-1
            = f.submit t('helpers.links.review'), id: 'submit_review_button', class: 'btn btn-block btn-outline-primary'
      .modal-footer
        %button.btn.btn-outline-default{ 'data-dismiss': 'modal', type: 'button' } 閉じる
