%ul.nav.md-pills.pills-primary.flex-column
  %li.nav-item
    = link_to 'Dashboard', :root, class: 'nav-link'
  %li.nav-item
    = link_to 'Reviews', [:admins, :reviews], class: 'nav-link'
  %li.nav-item
    %a.nav-link
      Billing details
      %i.fa.fa-address-card.ml-2
