.setting-integrations-wrapper
  .col-xs-10.col-xs-offset-1
    %h4
      %i.fab.fa-github
      = t('views.integrations.github')
    %hr
    .card
      .card-body.text-center
        %p.card-text
          %small.text-muted
            GitHubアカウント連携の設定をします。
            %br
            アカウント情報を取得するために読み取り権限を許可します。
        = link_to '/auth/github', class: 'btn btn-primary' do
          %i.github.icon
          = t('reviewees.settings.integrations.connect')
