.reviewer-commit-index-wrapper {
  .panel {
    margin-top: $base-margin;
  }
  .commit_title {
    font-weight: bold;
    font-size: 15px;
  }
  .owner_name {
    font-weight: bold;
    font-size: 12px;
    color: $dropdown-header-color;
  }
}
