.issue-wrapper {
  .label.label-primary, .label.label-danger {
    display: inline-block;
    padding: $base-padding $base-padding * 2;
    font-weight: $base-font-weight * 3;
    line-height: 20px;
    color: $color-white;
    text-align: center;
    border-radius: $base-border-radius;
    margin-bottom: $base-margin;
  }
  .label.label-primary {
    background-color: $color-line;
  }
  .label.label-danger {
    background-color: $color-github-red;
  }
}
