.reviewers-shared-pulls-tab-wrapper,
.reviewers-shared-repos-tab-wrapper,
.reviewee-repo-tab-wrapper {
  margin-bottom: $base-margin;
  li {
    a {
      color: $color-dark-gray;
    }
  }
  .everywhere {
    margin: 0 0 20px 0;
    &.btn {
      width: 200px;
    }
  }
}
