.reviewee-dashboard-wrapper {
  .card {
    border-radius: $base-border-radius;
    margin-top: $base-margin * 2;
    background-color: $color-github-light-grey;
    border: solid 1px $color-literal-gray;
    box-shadow: none;
    .card-header {
      padding-bottom: $base-padding * 3;
      border-bottom: solid 1px gray;
      color: $color-github-blue;
      font-weight: bold;
    }
    .card-body {
    }
  }
  .greet {
    margin-top: $base-margin * 10;
    table {
      margin-top: $base-margin * 4;
      .ok {
        color: $color-line;
      }
    }
  }
}

.reviewee-pulls-index-wrapper {
  font-family: $font-dashboard;
  font-weight: $base-font-weight;
  .btn {
    border-radius: $base-border-radius;
    font-weight: $base-font-weight;
    min-width: 60px !important;
    display: inline-block !important;
  }
  .btn-success {
    cursor: default;
    background-color: #4dbd74;
    border: none;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    &:hover, &:focus, &:active, &.active, .open > .dropdown-toggle.btn-success{
      color: $color-white;
      background-color: $color-cancel;
      border-color: $color-cancel;
    }
  }
  .btn-warning {
    cursor: default;
    color: $base-color-green;
    background-color: $color-white;
    border: 1px solid $base-color-green;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  table {
    td {
      color: $color-td;
    }
  }
}

.reviewee-repos-index-wrapper {
  font-family: $font-dashboard;
  font-weight: $base-font-weight;
  .page-header {
    font-family: $font-dashboard;
  }
  table {
    td {
      color: $color-td;
      .img-responsive {
        max-width: 25%;
      }
      i {
        color: $color-line;
      }
    }
  }
}

.reviewee-registration-new-wrapper, .reviewee-session-new-wrapper {
  margin-top: $base-margin * 2;
  .col-xs-8.col-xs-offset-2 {
    .card {
      border: 1px solid $color-github-label-border-white;
      box-shadow: none;
      h4 {
        margin-top: $base-margin / 2;
        font-weight: bold;
      }
      .card-body {
      }
    }
  }
}

.reviewee-repo-tab-wrapper {
  margin-bottom: $base-margin;
}
