.setting-integrations-wrapper {
  .col-sm-8 {
    padding-left: 0px;
    padding-right: 0px;
    .card {
      border: 1px solid $color-github-label-border-white;
      box-shadow: none;
      h4 {
        margin-top: $base-margin / 2;
        font-weight: bold;
      }
      .card-body {
      }
    }
  }
  .col-sm-4 {
    padding-left: 0px;
  }
}
