.skill-edit-wrapper {
  .card {
    border: 1px solid $color-github-label-border-white;
    box-shadow: none;
  }
  .checkbox-inline {
    margin-left: 0px;
  }
  .register-btn {
    margin-top: $base-margin * 2;
  }
}
