//
// カスタム変数の定義
// Bootstrap関連の変更は_bootstrap-variablesでoverrideすること
//

// service colors
$color-white: #fff;
$color-twitter: #78caef;
$color-facebook: #517ABB;
$color-google: #dc4e42;
$color-line: #00c400;
$color-grey: #F5F5F5;
$color-black: #000000;
$color-github-black: #24292e;
$color-github-light-grey: #fafbfc;
$color-blue: #428bca;
$color-gihub-blue: #f1f8ff;
$color-literal-gray: rgba(27,31,35,0.5);
$color-github-green: #e6ffed;
$color-github-red: #cb2431;
$color-github-blue: #0366d6;
$font-code: "SFMono-Regular",Consolas,"Liberation Mono",Menlo,Courier,monospace;
$base-border: 1px solid rgba(27,31,35,0.2);
$color-github-yellow: #fff5b1;
$color-github-label-white: #586069;
$color-github-label-border-white: rgba(27,31,35,0.1);
$color-github-changed-file-minus-color: #ffeef0;
$bg-color-pre-code: #f6f8fa;

// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: ($spacer * .25),
  2: ($spacer * .5),
  3: $spacer,
  4: ($spacer * 1.5),
  5: ($spacer * 3)
) !default;
$base-margin: 16px;
$base-padding: 4px;
$base-border-radius: 3px;
$base-font-size: 12px;

$github-primary-color: #28a745;
