.container-fluid.top {
  padding: 0px;
  margin: 0px;
  font-family: $font-static;
  /*
    Head
  */
  .container-fluid.head {
    padding: 0;
    margin: 0;
    position: relative;
    .filter {
      background: $opacity-black;
    }
    .filter-img {
     display: block;
     opacity: .6;
    }
    h1.top-literal {
      position: absolute;
      top: 40%;
      left: 50%;
      -ms-transform: translate(-50%,-50%);
      -webkit-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
      margin:0;
      padding:0;
      color: $color-white;
      font-size: $base-font-size * 6;
      font-weight: $base-font-weight * 4;
      .target {
        margin-bottom: $base-margin / 4;
      }
    }
    .container {
      position: absolute;
      top: 70%;
      left: 10%;
      color: $color-white;
    }
    p.top-literal {
      position: absolute;
      top: 50%;
      left: 50%;
      -ms-transform: translate(-50%,-50%);
      -webkit-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
      margin:0;
      padding:0;
      color: $color-white;
      font-weight: $base-font-weight * 4;
    }
    @media (max-width: $screen-xs-max) {
      h1.top-literal {
        font-size: $base-font-size * 3;
      }
      .container {
        top: 100%;
        left: 0;
        right: 0;
        bottom: 0;
        color: $color-black;
      }
      p.top-literal {
        position: absolute;
        top: 70%;
        font-size: $base-font-size;
        width: 90%;
      }
    }
  }

  /*
    Live
  */
  .container-fluid.live-wrapper {
    padding-right: 0;
    padding-left: 0;
    background-color: $color-white;
    color: $color-black;
    margin-top: - $base-margin;
    .container {
      margin-bottom: $base-margin * 4;
      h1 {
        margin-top: $base-margin * 4;
        font-size: $base-font-size * 4;
        font-weight: $base-font-weight * 4;
      }
      .sub-line {
        font-size: $base-sl-font-size;
        margin-bottom: $base-margin * 5;
        color: $color-black;
      }
      table {
        background-color: $color-white;
        color: $color-black;
        .btn-outline-primary {
          color: $base-color-blue;
          background-color: transparent;
          background-image: none;
          border-color: $base-color-blue;
          &:hover, &:focus, &:active, &.active, .open > .dropdown-toggle.btn-outline-primary {
            color: $color-white;
            background-color: $base-color-blue;
            border-color: $base-color-blue;
          }
        }
      }
    }
  }

  @media (max-width: $screen-xs-max) {
    .container-fluid.live-wrapper {
      margin-top: $base-margin * 5;
      .container {
        h1 {
          margin-top: $base-margin * 3;
          font-size: $base-font-size * 4;
          font-weight: $base-font-weight * 4;
          color: $color-black;
        }
        .sub-line {
          font-size: $base-font-size;
          margin-bottom: $base-margin * 4;
          .best-practice-description {
            margin-bottom: $base-margin * 2;
            color: $color-black;
            br {
              display: inline;
            }
            .br::before {
            	content: none;
            	white-space: none;
            }
          }
        }
      }
    }
  }

  /*
    Demo
  */
  .container-fluid.demo {
    background-color: $color-github-black;
    color: $color-white;
    .demo-wrapper {
      h1 {
        margin-top: $base-margin * 4;
        font-size: $base-font-size * 4;
        font-weight: $base-font-weight * 4;
      }
      .sub-line {
        font-size: $base-sl-font-size;
        margin-top: $base-margin * 2;
        margin-bottom: $base-margin;
        color: $color-white;
      }
      .panel.panel-default {
        margin-top: $base-margin;
        background-color: $color-github-black;
        border-color: $color-github-black;
      }
      hr {
        color: $color-github-black;
        margin-bottom: $base-margin * 3;
      }
    }
    @media (max-width: $screen-xs-max) {
      .demo-wrapper {
        h1 {
          margin-top: $base-margin * 3;
          font-size: $base-font-size * 4;
          font-weight: $base-font-weight * 4;
        }
        .sub-line {
          font-size: $base-font-size * 1.1;
          margin-bottom: $base-margin;
        }
      }
    }
  }

  /*
    To corporate technical staff
  */
  .container-fluid.teaser-wrapper {
    padding-right: 0;
    padding-left: 0;
    background-color: $color-white;
    color: $color-github-black;
    .container {
      h1 {
        margin-top: $base-margin * 4;
        font-size: $base-font-size * 4;
        font-weight: $base-font-weight * 4;
      }
      .sub-line {
        font-size: $base-sl-font-size;
        margin-bottom: $base-margin * 5;
      }
    }
    @media (max-width: $screen-xs-max) {
      .container {
        h1 {
          margin-top: $base-margin * 3;
        }
        .sub-line {
          font-size: $base-font-size * 1.1;
          margin-bottom: $base-margin * 3;
        }
      }
    }
  }


  /*
    Get Started
  */

  .container-fluid.get-started {
    padding: 0;
    margin-bottom: - $base-margin;
    color: $color-white;
    background-color: $color-github-black;
    .container {
      h1 {
        margin-top: $base-margin * 4;
        font-size: $base-font-size * 4;
        font-weight: $base-font-weight * 4;
      }
      .start-wrapper {
        h1 {
          font-size: $base-font-size * 4;
          font-weight: $base-font-weight * 4;
        }
        .start-line {
          margin-top: $base-margin * 2;
          font-size: $base-font-size * 1.2;
          margin-bottom: $base-margin * 4;
        }
        .col-xs-12 {
          padding: 0;
          margin-bottom: $base-margin * 5;
          .col-xs-6 {
            font-size: $base-font-size * 1.1;
            .target {
              margin-bottom: $base-margin / 4;
            }
          }
        }
      }
    }
    @media (max-width: $screen-xs-max) {
      .container {
        .start-wrapper {
          h1 {
            margin-top: $base-margin * 3;
          }
          .start-line {
            font-size: $base-font-size;
            margin-bottom: $base-margin * 2;
          }
        }
      }
    }
  }
}

.share .twitter, .share .facebook, .share .pocket, .share .hatena {
  display: inline-block;
  vertical-align: top;
}
.share .facebook {
  width: 150px;
  overflow: hidden;
}

.top-wrapper {
  .alert {
    margin-top: $base-margin;
  }
}
