.reviewee-wikis-wrapper {
  .header {
    margin-top: $base-margin;
    margin-bottom: $base-margin;
  }
  .wiki-import-btn {
    margin-top: $base-margin * 3;
    margin-bottom: $base-margin * 3;
  }
}
