-# @see https://github.com/kpumuk/meta-tags
:ruby
// Launching a page fullscreen from home screen
%meta{ name: 'apple-mobile-web-app-capable', content: 'yes' }
%meta{ name: 'mobile-web-app-capable', content: 'yes' }
%link{ media: 'handheld', rel: 'alternate' }
%link{ media: 'handheld', rel: 'alternate', href: request.original_url }/
= display_meta_tags default_meta_tags
