.reviewee-repo-tab-wrapper
  %ul.nav.nav-tabs.nav-justified
    %li{ class: is_same_controller_name?('contents') }
      = link_to reviewees_repo_contents_path(repo), class: 'nav-link' do
        %i.fas.fa-code
        = t 'reviewers.pulls.show.code'
    %li{ class: is_same_controller_name?('issues') }
      = link_to reviewees_repo_issues_path(repo), class: 'nav-link' do
        %i.fas.fa-exclamation-circle
        = t 'reviewers.pulls.show.issues'
        %span.badge.badge-default
